*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: conent-box;
}

.container{
    background-color: #0f4c81;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.calculator{
    user-select: none;
    height: 80vh;
    width: 30vw;
    text-align: center;
    border-spacing: 10px;
    border-radius: 35px;
    background-color: #1b262c;
    max-width: 247px;
    max-height: 332px;
    min-width: calc((10px * 4)*2 + 2rem*4);
    min-height: calc((10px * 4)*2 + 2rem*(4+1));
    box-shadow: 0 4px #999;
}

.calculator-draggable{
    cursor: grab;
    position: absolute;
    z-index: 1;
}

.calculator-draggable:active{
    cursor: grabbing;
}

.calculator button {
    background-color: #696969;
    color: white;
    border: none;
    box-shadow: 0 4px #999;
    display: inline-block;
    cursor: pointer;
    height: 3vh;
    width: 3vh;
    font-size: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    outline: none;
}

.calculator button:hover {
    background-color: #494949;
}

.calculator button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.result-box {
    background-color: #696969;
    text-align: right;
    color: white;
    width: calc(100% - 40px);
    font-size: 2rem;
}

.result-box-error {
    color: #ed6663;
}

.badass-heading {
    position: absolute;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
    font-size: 5vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #ed6663;
}

.badass-heading-epic {
    left: 4vw;
}

.badass-heading-calculator{
    right: 4vw;
}

.copyright{
    height: 10vh;
    background-color: #ffa372;
    color: white;
    font-size: 2rem;
    text-align: center;
}